<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link type="text/css" rel="stylesheet" href="../CSS/AboutUs.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Navbar.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Footer.css">
    <!-- Setting Icon -->
    <link rel="icon" href="../Img/Bebvest logo.png">
</head>

<body>
    <div class="Navbar" id="Navbar"></div>
    <div class="Body">
        <div class="Intro">
            <h1>About Us</h1>
        </div>
        <div class="AboutContainer">
            <div class="Card">
                <img class="Img" src="../Img/Gary.png" alt="Johan Bosch">
                <div class="PersonInfo">
                    <h2>
                        Gary Bebington - CEO & Founder
                    </h2>
                    <p>
                        Gary’s career started out as a software engineer 
                        working for various large corporates including Global 
                        companies such as Accenture and Dimension Data. 
                        He won a global award for implementing the largest BI 
                        solution in the Southern Hemisphere on a Microsoft platform 
                        to name but a few achievements. <br><br>
                        Gary then had the good 
                        fortune to meet and work with Courtney Smith, 
                        a world renowned hedge fund trader/manager and 
                        stock picker. His achievements are virtually unparalled 
                        in the financial world. In that tenure Gary learnt many trade 
                        secrets, trade techniques and money management rules that 
                        few are privy to. This paved the way to design and develop 
                        an unique trading algorithm that incorporates many techniques 
                        and money management strategies.  Gary continues to enhance 
                        the algorithm / robot to not only deliver stellar returns, but 
                        minimise risk in the process. 
                    </p>
                </div>
            </div>
            <div class="Card">
                <div class="PersonInfo">
                    <h2>
                        Duard Botha - Chief Architect
                    </h2>
                    <p>
                        Duard obtained his Bachelor of Science (BSc) 
                        focused in Mathematics and Computer Science 
                        from the University of Johannesburg (RAU). <br>
                        He has over 30 years of experience as program manager, 
                        technology specialist and architect in the financial 
                        services industry. Duard specialised as an Enterprise 
                        Architect and IT Strategy Consultant for various blue 
                        chip companies in the last few years. He is currently 
                        the Chief Architect for Sportbot Holdings International, 
                        POLC Group IT (UAE) and Bebvest (UAE). 
                    </p>
                </div>
                <img class="Img" src="../Img/Duard.png" alt="Johan Bosch">
            </div>
            <div class="Card">
                <img class="Img" src="../Img/Johan-Bosch.png" alt="Johan Bosch">
                <div class="PersonInfo">
                    <h2>
                        Dr Johan Bosch - Bebvest CMO & Founder POLC Global
                    </h2>
                    <p>
                        Johan is the Group CEO and Founder of POLC Global 
                        and Sportbot Holdings International as well as CMO 
                        for Bebvest. Johan holds a doctorate in Expert Support
                         Systems from the University of Johannesburg. He spent 
                         several years as an advisory consultant specializing 
                         in future-proof IT Strategy, IT Governance, Risk, Compliance, 
                         and Security for PwC, Ernst & Young, and Deloitte and ran 
                         several programs for ABSA Bank, Barclays, Standard Bank, and 
                         Discovery Bank.  Some of his experience includes the role of 
                         Group CIO of a multi-national bank in Africa. For the last few years, 
                         he consulted as CTO for two of the largest international BPOs in 
                         South Africa. Johan is a thought leader in future-proof Fintech 
                         companies and financial switching systems using artificial intelligence 
                         or human expert support systems.  Johan is deeply passionate about 
                         using artificial intelligence and expert support systems to lift 
                         people globally out of poverty with the companies patented technology. 
                    </p>
                </div>
            </div>
        </div>
        <div class="Footer" id="Footer"></div>
    </div>
    <!-- <script src="../JS/Homepage.js"></script> -->
    <script src="../JS/Navbar.js"></script>
    <script src="../JS/Footer.js"></script>
</body>

</html>