<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link type="text/css" rel="stylesheet" href="../CSS/Homepage.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Navbar.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Footer.css">
    <!-- Setting Icon -->
    <link rel="icon" href="../Img/Bebvest logo.png">
</head>

<body>
    <div class="Navbar" id="Navbar"></div>
    <div class="Body">
        <div class="Intro">
            <h1>Invest and grow your wealth</h1>
        </div>
        <div class="GoalContainer">
            <h2>
                Our vision here at Bebvest
            </h2>
            <div class="Goals">
                <div class="Info">
                    At Bebvest, it is our mission to offer a
                    low - medium risk investing alternative
                    that also produces impressive profits.
                    This is not a quick way to get rich;
                    instead, our focus is on a medium - long
                    term path to wealth creation.
                    In order to achieve a win-win situation,
                    our philosophy is to charge no fees and
                    only share in the profits.
                </div>
                <div class="CardContainer" id="CardContainer">
                    <button class="Arrow" onclick="moveCards(-1)">
                        &lt;
                    </button>
                    <div class="Card2">
                        <img src="../Img/Image1.jpg" alt="Investment">
                        <button>
                            The markets we trade
                        </button>
                    </div>
                    <div class="Card">
                        <img src="../Img/Image2.jpg" alt="Investment">
                        <button>
                            Our Methodology
                        </button>
                    </div>
                    <div class="Card2">
                        <img src="../Img/Image3.jpg" alt="Investment">
                        <button>
                            Investment Rules
                        </button>
                    </div>
                    <button class="Arrow" onclick="moveCards(1)">
                        &gt;
                    </button>
                </div>
            </div>
        </div>
        <div class="Footer" id="Footer"></div>
    </div>
    <script src="../JS/Homepage.js"></script>
    <script src="../JS/Navbar.js"></script>
    <script src="../JS/Footer.js"></script>
</body>

</html>