<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment Rules</title>
    <link type="text/css" rel="stylesheet" href="../CSS/HomepageLinks.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Navbar.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Footer.css">
    <!-- Setting Icon -->
    <link rel="icon" href="../Img/Bebvest logo.png">
</head>

<body>
    <div class="Navbar" id="Navbar"></div>
    <div class="Body">
        <div class="Intro">
            <h1>Investment Rules</h1>
        </div>
        <div class="GoalContainer">
            <h2>
                Our Rules!
            </h2>
            <div class="Goals">
                <div class="Info">
                    <h4>The business rules described below are in no order of precedence or sequence:</h4>
                    <ul>
                        <li>Minimum deposit requirement is $3000</li>
                        <li>Initial deposit must be held for a minimum period of one year</li>
                        <li>Subsequent deposit minimums are $1500 provided original investment is still in play</li>
                        <li>Subsequent deposits must be held for a minimum of 1 year</li>
                        <li>Payments can be made any time within the month</li>
                        <li>All monthly deposit payments will be transferred to the trading fund at the end of each month</li>
                        <li>Monthly updates will be provided to each client via email</li>
                        <li>Proceed pay-outs will happen half-yearly either end of February or end of August</li>
                        <li>The pay-outs will happen on the above dates provided it surpasses the fund's first anniversary</li>
                        <li>Deposits will be valued as tokens and each token will represent $10 (tokens are used for investment as a common currency regardless of originating denomination)</li>
                        <li>Growth will be evaluated in additional tokens earned</li>
                        <li>30 days' notice must be given if withdrawal of funds is required provided it satisfies the minimum 1-year rule</li>
                      </ul>

                    <button onclick="window.location.href = '../HTML/Homepage.html'">
                        Back
                    </button>
                </div>
            </div>
        </div>
        <div class="Footer" id="Footer"></div>
    </div>
    <!-- <script src="../JS/"></script> -->
    <script src="../JS/Navbar.js"></script>
    <script src="../JS/Footer.js"></script>
</body>

</html>