<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex</title>
    <link type="text/css" rel="stylesheet" href="../CSS/HomepageLinks.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Navbar.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Footer.css">
    <!-- Setting Icon -->
    <link rel="icon" href="../Img/Bebvest logo.png">
</head>

<body>
    <div class="Navbar" id="Navbar"></div>
    <div class="Body">
        <div class="Intro">
            <h1>The Markets We Trade</h1>
        </div>
        <div class="GoalContainer">
            <h2>
                Why Forex for Bebvest?
            </h2>
            <div class="Goals">
                <div class="Info">
                    Before we get into what markets we trade let’s look at the typical investor. 
                    The majority of investors buy stocks, as they are perceived to be “the go to” 
                    market place. Most investors get hooked into the STORY or HYPE of the Stock 
                    and fall prey to emotional attachment even if the Stock does not perform. 
                    Investors tend to become reliant on GURUS to guide their buying decisions.  
                    We often hear investors buying “X” number shares without knowing why, other 
                    than it sounded like a good idea at the time or bought as much as they could 
                    with the capital at hand. In addition to that most investors choose the usual 
                    stocks which are often range bound rather than the growth stocks, which are not 
                    often spotted until they are already soaring luring would be investors into buying 
                    at the top of the trend with little wriggle room for growth.

                    <h4>The market can divided into 4 broad categories namely:</h4>
                    <ul>
                        <li>
                            Stocks
                        </li>
                        <li>
                            Options
                        </li>
                        <li>
                            Futures
                        </li>
                        <li>
                            Forex
                        </li>
                    </ul>

                    The Stock market is the most spoken about on investing and news shows, 
                    so it’s understandable that most investors choose that vehicle, whereas 
                    the other 3 are more difficult to understand and commentary on them is 
                    rare or non-existent. Stocks are notorious for big unexpected moves and 
                    subject to loads of volatility on sporadic news events or comments from 
                    “big” named players in the market.

                    <h4>
                        We at Bebvest have chosen to trade only in the Forex market 
                        and on selected currencies only, for the following reasons:
                    </h4>
                    <ul>
                        <li>
                            The cost of the trade is extremely low
                        </li>
                        <li>
                            Never an issue on liquidity
                        </li>
                        <li>
                            The least volatile of all the markets 
                            (High leverage in the Forex market gives one the illusion of high volatility, 
                            yet it's overtrading that causes risky trading not volatility)
                        </li>
                        <li>
                            The Forex market dwarfs all other markets in terms of 
                            volume traded, so it is far less susceptible to market 
                            manipulation or government intervention
                        </li>
                        <li>
                            The main currency pairs and crosses provide a stable environment, 
                            which is where our system is focused
                        </li>
                        <li>
                            The Forex market is very much a cyclical market vs. 
                            the stock market, which is generally a growth market, 
                            allowing us to trade in ranges
                        </li>
                        <li>
                            The cyclical nature of the Forex market allows us to 
                            short the market, whereas the stock market is predominantly 
                            a buyer's market, which precludes shorting it for most investors 
                            unless you know how to trade Options to take advantage of bear markets
                        </li>
                    </ul>

                    <button onclick="window.location.href = '../HTML/Homepage.html'">
                        Back
                    </button>
                </div>
            </div>
        </div>
        <div class="Footer" id="Footer"></div>
    </div>
    <!-- <script src="../JS/"></script> -->
    <script src="../JS/Navbar.js"></script>
    <script src="../JS/Footer.js"></script>
</body>

</html>