<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit Sharing</title>
    <link type="text/css" rel="stylesheet" href="../CSS/ProfitSharingScale.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Navbar.css">
    <link type="text/css" rel="stylesheet" href="../CSS/Footer.css">
    <!-- Setting Icon -->
    <link rel="icon" href="../Img/Bebvest logo.png">
</head>

<body>
    <div class="Navbar" id="Navbar"></div>
    <div class="Body">
        <div class="Intro">
            <h1>Profit Sharing Scale</h1>
        </div>
        <div class="TableContainer" id="TableContainer">
            <div class="LittleCardsContainer">
                <div class="LittleCard" id="Private">
                    Private Investors
                </div>
                <div class="LittleCard" id="Corporate">
                    Corporate Investors
                </div>
                <div class="LittleCard" id="Broker">
                    Brokers
                </div>
            </div>
            <div class="ProfitCard" id="BigCard">
                Please hover over an investor type card to show info
            </div>
        </div>
        <div class="Footer" id="Footer"></div>
    </div>
    <script src="../JS/ProfitSharingScale.js"></script>
    <script src="../JS/Navbar.js"></script>
    <script src="../JS/Footer.js"></script>
</body>

</html>