.NavSpacing {
    /* outline: solid gold; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Current {
    color: #bd6c86;
    text-decoration: none;
}

.NotCurrent {
    color: black;
    text-decoration: none;
}

.NextTo {
    display: flex;
    flex-direction: row;
}