@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --textDark: #ffffff;
    --textLight: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    /* overflow: hidden; */
}

@media (max-width: 600px) {
    p {
        padding-top: 2%;
        color: var(--textDark);
        font-size: 3vh;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
}

@media (min-width: 601px) {
    p {
        padding-top: 2%;
        color: var(--textDark);
        font-size: 7vh;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .FiltersUnderneath {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .FiltersNextTo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}



/* Testing for index css */
.Outline {
    /* width: 90%; */
    outline: solid white;
    /* border-radius: 10px; */
}

.BackgroundColourBlue {
    background-color: #2b4360;
}

.Spacing {
    margin-top: 3%;
    padding-bottom: 3%;
}

.Button {
    margin-top: 3vh;
    width: 100%;
}

.Underneath {
    display: flex;
    flex-direction: column;
}

input {
    height: 7vh;
    border-radius: 10px;
    border: 2px solid black;
}

label {
    color: white;
}