html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

@media (max-width: 850px) {
    .NextTo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Underneath {
        display: flex;
        flex-direction: column;
    }

    .CardOutline {
        width: 100%;
        padding: 5%;
        outline: solid var(--BlueColour);
        border-radius: 10px;
    }

    .Ptag {
        font-size: 2vh;
    }

    .ImageAttributes {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 60vw;
        width: 60vw;
    }

    .EmployeeText {
        width: 100%;
        text-align: center;
    }

    .ImageAttributesIcon {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 4vh;
        width: 4vh;
        cursor: pointer;
    }
}

@media (min-width: 851px) {

    .NextTo {
        display: flex;
        flex-direction: row;
    }

    .Underneath {
        display: flex;
        flex-direction: column;
        flex: 1;
        /* Allow the EmployeeText to take up remaining space */
    }

    .CardOutline {
        width: 100%;
        padding: 1%;
        outline: solid var(--BlueColour);
        border-radius: 10px;
    }

    .Ptag {
        /* width: 60vw; */
        font-size: 2vh;
        white-space: normal;
        overflow: auto;
        /* Use 'auto' or 'hidden' to control text overflow */
    }

    .ImageAttributes {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 40vh;
        width: 40vh;
    }

    .ImageAttributesIcon {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 6vh;
        width: 6vh;
        cursor: pointer;
    }

}

.h1 {
    color: var(--BlueColour);
}

#ScottImage {
    background-image: url(../Img/Scott.JPG);
}

#GaryImage {
    background-image: url(../Img/Gary.jpg);
}

#DuardImage {
    background-image: url(../Img/Duard.png);
}

#JohanImage {
    background-image: url(../Img/Johan-Bosch.png);
    background-size: cover;
}

#LinkedIn {
    background-image: url(../Img/linkedin.png);
    background-size: cover;
}

#Github {
    background-image: url(../Img/github.png);
    background-size: cover;
}

.Button {
    width: 100%;
}