.Footer
{
    /* height: 25%; */
    width: 100%;
    background-color: white;
    /* outline: solid var(--BlueColour); */
    display: grid;
    place-items: center;
}

.FooterSpacing
{
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.Footer h3
{
    color: var(--BlueColour);
    font-size: 3.75vh;
    text-decoration: underline;
}

.Footer a
{
    color: black;
    font-size: 1.5vh;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

.Footer a:hover
{
    color: var(--BlueColour);
}

.Footer p
{
    color: var(--BlueColour);
    font-size: 3vh;
}

.Contact
{
    /* outline: solid gold; */
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

Text
{
    font-size: 2vh;
}