
@media (max-width: 600px) {
    .TextCenter {
        text-align: center;
    }

    .Footer a {
        color: black;
        font-size: 2vh;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }

    /* li {
        list-style-type: none;
    } */

    button {
        font-size: 2vh;
    }


}

@media (min-width: 601px) and (max-width: 850px) {
    .Footer a {
        color: black;
        font-size: 1.5vh;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }


}


@media (min-width: 851px) {
    .Footer a {
        color: white;
        font-size: 2vh;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }
}

.Footer {
    padding: 1.5vh 0; /* Adjust padding as needed */
    background-color: var(--BlueColourDark);
}


.Footer a:hover {
    color: white;
}

.Footer p {
    color: white;
    font-size: 3vh;
}

.Contact {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Social Media button CSS */

.SocialMediaButton {
    background: transparent;
    cursor: pointer;
    border: transparent;
    border-radius: 25px;
    color: black;
    transition: color 0.3s ease-in-out;
    text-align: center;

}

.SocialMediaButton svg {
    fill: black;
    height: 25px;
    width: 25px;
}

.SocialMediaButton:hover {
    color: white;
}

.SocialMediaButton:hover svg {
    fill: currentColor;
}

.UnderneathFooter {
    display: flex;
    flex-direction: column;
}