html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    /* background-image: var(--backgroundDark); */
    background-position: center;
    background-size: cover;
}

@media (min-width: 1000px) {

    /* Just for the Vehicle page as there is little information */
    .TextContainer {
        min-height: 50vh;
        display: grid;
        place-items: center;
    }
}

@media (min-width: 850px) {
    .LinksSizing {
        min-height: 55vh;
    }
}

.White {
    background-color: White;
}

.White h1 {
    color: var(--BlueColour);
    font-size: 2rem;
}

.White h4 {
    color: var(--BlueColour);
    font-size: 1.5rem;
}

.LearnMoreButton {
    width: 100%;
}

.BackButton {
    color: white;
    width: 100%;
    border: 2px solid var(--BlueColourDark);
    border-radius: 10px;
    background-color: var(--BlueColourDark);
}

.OutlineBlue {
    border: 2px solid var(--BlueColour);
    border-radius: 10px;
}

.HomepageLinksIntro {
    color: white;
    font-size: 1.5rem;
}

.HyperLinks {
    color: var(--BlueColour);
    font-size: 2.5vh;
    cursor: pointer;
    text-decoration: none;
}

.HyperLinksDisabled {
    color: gray;
    font-size: 2.5vh;
    cursor: pointer;
    text-decoration: none;
}

.HyperLinks:hover {
    color: var(--BlueColourDark);
    font-size: 2.5vh;
    cursor: pointer;
    text-decoration: none;
}