html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

@media (max-width: 600px) {
    .InnerContainer h1 {
        color: var(--BlueColour);
        font-size: 3vh;
    }

    .Underneath {
        display: flex;
        flex-direction: column;
    }

    .SpaceBetween {
        justify-content: space-between;
    }

    /* Carousel Cards */

    .MainImage {
        height: 20vh;
    }

    .Spacing {
        height: 20vh;
    }

    .HomepageLinkButton {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        height: 4vh;
        width: 100%;
        transition: 0.3s ease-in-out;
        color: var(--BlueColour);
        font-size: 2vh;
    }

    .HomepageLinkButton:hover {
        border: 2px solid var(--BlueColour);
        background-color: var(--BlueColour);
        border-radius: 10px;
        height: 4vh;
        width: 100%;
        transition: 0.3s ease-in-out;
        color: white;
        font-size: 2vh;
    }

    .Bottom {
        margin-top: 5%;
    }
}

@media (min-width: 601px) and (max-width: 850px) {
    .InnerContainer h1 {
        color: var(--BlueColour);
        font-size: 2vh;
    }

    .Underneath {
        display: flex;
        flex-direction: column;
    }

    .SpaceBetween {
        justify-content: space-between;
    }

    /* Carousel Cards */

    .MainImage {
        height: 40vh;
    }

    .Spacing {
        height: 20vh;
    }

    .HomepageLinkButton {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        height: 4vh;
        width: 100%;
        transition: 0.3s ease-in-out;
        color: var(--BlueColour);
        font-size: 2vh;
    }

    .HomepageLinkButton:hover {
        border: 2px solid var(--BlueColour);
        background-color: var(--BlueColour);
        border-radius: 10px;
        height: 4vh;
        width: 100%;
        transition: 0.3s ease-in-out;
        color: white;
        font-size: 2vh;
    }

    .Bottom {
        margin-top: 5%;
    }
}

@media (min-width: 851px) {
    .InnerContainer h1 {
        color: var(--BlueColour);
        font-size: 4vh;
    }

    .Underneath {
        display: flex;
        flex-direction: column;
    }

    .SpaceBetween {
        justify-content: space-between;
    }

    /* Carousel Cards */

    .MainImage {
        height: 65vh;
    }

    .HomepageLinkButton {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        height: 12vh;
        width: 95%;
        transition: 0.3s ease-in-out;
        color: var(--BlueColour);
    }

    .HomepageLinkButton:hover {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        height: 12vh;
        width: 95%;
        background-color: var(--BlueColour);
        color: white;
    }

    .Bottom {
        margin-top: 5%;
    }
}

.InnerContainer {
    background-color: white;
    border-radius: 10px;
}

.ImageAttributes {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#Image1 {
    background-image: var(--Image1);
    border-radius: 10px;
}

#Image1 {
    background-image: var(--Image1);
    border-radius: 10px;
}

#Image2 {
    background-image: var(--Image2);
    border-radius: 10px;
}

#Image3 {
    background-image: var(--Image3);
    border-radius: 10px;
}

#Image4 {
    background-image: var(--Image4);
    border-radius: 10px;
}

#Image5 {
    background-image: var(--Image5);
    border-radius: 10px;
}

