html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

@media (max-width: 850px) {
    .NextTo {
        display: flex;
        flex-direction: column;
    }

    .SpaceBetween {
        justify-content: space-between;
    }

    .ProfitCard {
        outline: solid var(--BlueColour);
        border-radius: 10px;
        width: 92vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1%;
        background-color: aliceblue;
        color: white;
        font-size: 4vh;
    }

    .LittleCardsContainer {
        border-radius: 10px;
        width: 95vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .LittleCard {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        width: 30vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1%;
        background-color: aliceblue;
        color: var(--BlueColour);
        transition: 0.3s ease-in-out;
    }

    .LittleCard:hover {
        border: 2px solid var(--BlueColour);
        background-color: var(--BlueColour);
        border-radius: 10px;
        width: 18em;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1%;
        color: white;
    }

    .Calculate {
        width: 95%;
        height: 7%;
        display: flex;
        align-items: flex-start;
    }

    .InputValue {
        width: 40%;
        height: 100%;
        background-color: transparent;
        border-top: 2px solid var(--BlueColour);
        border-left: 2px solid var(--BlueColour);
        border-bottom: 2px solid var(--BlueColour);
        border-right: none;
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
        color: black;
    }

    table {
        width: 95%;
        text-align: left;
    }

    th {
        color: var(--BlueColourDark);
        font-size: 2vh;
    }

    tr {
        width: 100%;
    }

    td {
        color: black;
        font-size: 1.5vh;
        border: 1px solid black;
    }

    .Placeholder {
        background-image: url(../Img/ProfitSharingScalePlaceHolder.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    p {
        font-size: 1.5vh;
        color: black;
        width: 95%;
        text-align: left;
    }

    .Heading {
        width: 95%;
        padding-top: 3%;
        font-size: 2.5vh;
        text-align: left;
    }

    .SubmitButton {
        width: 10%;
        height: 100%;
        background-color: transparent;
        border: 2px solid var(--BlueColour);
        border-top-right-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
        color: black;
        background-image: url(../Img/search.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 851px) {
    .ProfitCard {
        outline: solid var(--BlueColour);
        border-radius: 10px;
        width: 70%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1%;
        background-color: #f0f0f0;
        color: white;
        font-size: 4vh;
    }

    .LittleCardsContainer {
        border-radius: 10px;
        width: 20em;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 1%;
    }

    .LittleCard {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        width: 18em;
        height: 19vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1%;
        color: var(--BlueColour);
        transition: 0.3s ease-in-out;
    }

    .LittleCard:hover {
        border: 2px solid var(--BlueColour);
        border-radius: 10px;
        width: 18em;
        height: 19vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 1%;
        background-color: var(--BlueColour);
        color: white;
    }

    .Calculate {
        width: 95%;
        height: 7%;
        display: flex;
        align-items: flex-start;
    }


    .InputValue {
        width: 20%;
        height: 100%;
        background-color: transparent;
        border-top: 2px solid var(--BlueColour);
        border-left: 2px solid var(--BlueColour);
        border-bottom: 2px solid var(--BlueColour);
        border-right: none;
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
        color: black;
    }

    table {
        width: 95%;
        text-align: left;
    }

    th {
        color: var(--BlueColourDark);
        font-size: 2.5vh;
    }

    tr {
        width: 100%;
    }

    td {
        color: black;
        font-size: 2vh;
        border: 1px solid black;
    }

    .Placeholder {
        background-image: url(../Img/ProfitSharingScalePlaceHolder.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    p {
        font-size: 2vh;
        color: black;
        width: 95%;
        text-align: left;
    }

    .Heading {
        width: 95%;
        padding-top: 3%;
        font-size: 4vh;
        text-align: left;
    }

    .SubmitButton {
        width: 5%;
        height: 100%;
        background-color: transparent;
        border: 2px solid var(--BlueColour);
        border-top-right-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
        color: black;
        background-image: url(../Img/search.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

.TextTop {
    display: flex;
    justify-content: start;

    color: var(--BlueColourDark);
    font-size: 2vh;
}

.TextTop h5 {
    padding-top: 12vh;
    color: var(--BlueColourDark);
    font-size: 3vh;
}

.ProfitCard.Placeholder.TextTop.text-center {
    position: relative;
}

.info-container {
    position: relative;
}

.Info {
    background-image: url(../Img/info.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 1; /* Position to the right of the text */
    margin-left: 5px; /* Add some spacing between text and Info */
    height: 3vh;
    width: 3vh;
    cursor: pointer;
}


