html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background-color: white;
}

@media (max-width: 600px) {
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;
    }
}


@media (min-width: 601px) {
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65vh;
        width: 100%;
        outline: solid var(--BlueColourDark);
        border-radius: 10px;
    }
}


